@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


body
{
    background: #96c0d6;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text
{
    color: #fff;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
    padding: 2rem 1rem;
    opacity: 0;
    animation: fadeintext 0s 1.1s both;
}

.text-block
{
    position: relative;
    overflow: hidden;
}

.text-block::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c48e84;
    transform: translateX(-100%);
    animation: enLargeBlock .5s .6s both,revealblock .5s 1.1s both;
}

@keyframes fadeintext
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes enLargeBlock
{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes revealblock
{
    from{
        transform: translateX(0);
    }
    from{
        transform: translateX(100%);
    }
}